[package]
name = "midnote"
description = "A terminal application for viewing notes in a MIDI track, with audio."
version = "0.8.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "3.0.0-beta.4"
crossterm = { version = "0.21.0", features = ["serde"] }
midir = "0.7.0"
midly = "0.5.2"
nodi = "0.7.1"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
