[package]
name = "tabs"
version = "0.1.1"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "3.0.0-beta.4"
crossterm = "0.21.0"
midir = "0.7.0"
midly = "0.5.2"
nodi = "0.5.0"
